<div id="banner-wrapper" style="background: url('{{content.bannerBackgroundImage}}') center center no-repeat;">
    <section id="banner">
        <h2>{{content.bannerHeader}}</h2>
        <span class="byline">{{content.bannerSubheader}}</span>
        <a umb-content-link="content.bannerLink" class="button">{{content.bannerLinkText}} </a>
    </section>
</div>


 